body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/bg.jpeg);
    background-position: center;
    background-size: cover;
}

#container-geral {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px;
}


#container-controles {
    padding: 10px;
}

#cabecalho {
    display: flex;
    max-width: 100%;
    align-items: center;
    padding: 10px;
}

#form-cabecalho {
    display: flex;
    gap: 20px;
    align-items: center;
}

#menu {
    padding: 10px;
    gap: 10px;
    flex-direction: column;
}


.botoes-site-geral {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#container-site--gerado {
    display: flex;
    flex-direction: column;
    min-width: 800px;
    background-color: #210276c0 ;
}

#container-controles {
    background-color: #210276c0;
    width: 800px;
}


#galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: flex-start; 
}

#gerar-controle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

fieldset {
    display: flex;
    flex-direction: column;
}

.campo-editor {
    display: flex;
    flex-direction: column;
}


.input-style-main::placeholder {
    color: var(--placeholder-color, #868686); 
}





